.header li.left-title .navbar-toggle.sm-nav {
  bottom: 60px;
}
.main {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  padding-top: 49px;
}
.main .customer .pull-left .customer-nav2-section {
  padding: 0 20px;
}
.main .customer .pull-left .customer-nav2-section ul li {
  margin-top: 20px;
  width: 100%;
  position: relative;
}
.main .customer .pull-left .customer-nav2-section ul li button {
  width: 100%;
}
.main .customer .pull-left .customer-nav2-section ul li input {
  width: 100%;
  height: 30px;
  line-height: 28px;
  font-size: 12px;
  padding-left: 14px;
  color: #666;
}
.main .customer .pull-left .customer-nav2-section ul li .select-wraper {
  font-size: 12px;
  width: 100%;
  background: rgba(0, 0, 0, 0) url("../images/yg_photo_05-90421a8.png") no-repeat scroll 95% 50%;
}
.main .customer .pull-left .customer-nav2-section ul.customer-querydate-ul li button {
  color: #ffffff;
  width: 100%;
  height: 36px;
}
.main .customer .pull-left .customer-nav2-section ul.customer-querydate-ul li:first-of-type {
  margin-top: 0;
}
.main .customer .pull-left .fq-nav2-bottom {
  height: 90px;
}
.main .customer .pull-left .fq-nav2-bottom .fq-nav2-customer-bottom {
  padding: 20px 10px;
  display: none;
}
.main .customer .pull-right .fq-contain-dv {
  display: none;
}
.main .customer .pull-right .fq-contain-dv .contain-customer-wraper {
  width: 100%;
  padding: 20px 20px;
}
.main .customer .pull-right .fq-contain-dv .contain-customer-wraper table {
  width: 100%;
}
.main .customer .pull-right .fq-contain-dv .contain-customer-wraper table tr {
  height: 34px;
}
.main .customer .pull-right .fq-contain-dv .contain-customer-wraper table tr th {
  background-color: #f5f5f5;
  color: #333;
  font-size: 14px;
  text-align: center;
  border: 1px solid #e6e6e6;
}
.main .customer .pull-right .fq-contain-dv .contain-customer-wraper table tr td {
  color: #666;
  text-align: center;
  border: 1px solid #e6e6e6;
}
.main .customer .pull-right .fq-contain-dv .contain-customer-wraper table tr td span.btn-customercheck {
  color: #499df2;
  cursor: pointer;
}
.main .customer .pull-right .fq-contain-dv .contain-customer-wraper table tr td span {
  color: #169aff;
  cursor: pointer;
}
.main .customer .pull-right .fq-contain-dv .contain-customer-wraper table tr td:nth-child(3) {
  cursor: pointer;
}
.customer {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.customer > .pull-left {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 214px;
  height: 100%;
  background-color: #ffffff;
  -webkit-transform: translateX(-214px);
  -moz-transform: translateX(-214px);
  -ms-transform: translateX(-214px);
  -o-transform: translateX(-214px);
  transform: translateX(-214px);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.customer > .pull-left.show {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.customer > .pull-right {
  width: 100%;
  height: 98%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.customer > .pull-right .fq-contain-in {
  overflow-y: auto;
  width: auto;
  margin: 10px;
  background-color: #fff;
}
.alert-modal-wraper #FollowType ul {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  background-color: #fff;
  display: none;
  position: absolute;
  top: -90px;
}
.alert-modal-wraper #FollowType .fq-xiala-sel {
  border: 1px solid #e6e6e6 !important;
}
.alert-modal-wraper #Name_Add + .tooltip.fade {
  left: 96px !important;
}
.alert-modal-wraper #Name_Add + .tooltip.fade .tooltip-arrow {
  left: 65px !important;
}
.alert-modal-wraper #Follows tbody tr td:nth-last-child(1) {
  cursor: pointer;
}
.alert-modal-wraper #simulation {
  max-height: 150px;
}
.alert-modal-wraper .followInit {
  display: none;
}
.alert-modal-wraper .submitFollow {
  float: left;
  display: none;
}
.alert-modal-wraper .fq-modal-bottom ul:nth-of-type(2) li {
  float: left !important;
}
.alert-modal-wraper .customerDel {
  display: none;
}
.alert-modal-wraper .fy-wrap2 {
  bottom: 120px;
}
.alert-modal-wraper #FollowDescription {
  float: left;
}
.alert-modal-wraper .withoutContract {
  padding-left: 30px;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .customer .pull-left {
    visibility: visible;
    border-right: 1px solid #e6e6e6;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
  .customer .pull-left .set-header {
    margin-bottom: 10px;
  }
  .customer .pull-right {
    padding-left: 214px;
  }
}
.fq-modal-menu.fq-modal-menul4 ul li {
  margin-left: 70px;
  width: 26.7%;
}
