body .container .fq-nav2 .role-list {
  height: 100%;
  padding-bottom: 180px;
}
body .container .fq-nav2 .nav2-power {
  width: 100%;
  height: 100%;
}
body .container .fq-nav2 .nav2-power ul {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
body .container .fq-nav2 .nav2-power ul li {
  padding-left: 50px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
}
body .container .fq-nav2 .nav2-power ul li span {
  color: #646464;
  margin-left: 12px;
}
body .container .fq-nav2 .nav2-power ul li i {
  display: inline-block;
  vertical-align: sub;
  width: 14px;
  height: 14px;
  background: url("../images/qx_icon_23-c04ebd2.png") 0 0 no-repeat;
}
body .container .fq-nav2 .nav2-power ul li b {
  display: none;
  line-height: 36px;
  float: right;
  margin-right: 18px;
  font-size: 16px;
  vertical-align: top;
  color: #1a8ff0;
  font-weight: normal !important;
}
body .container .fq-nav2 .nav2-power ul li:hover {
  background-color: #e6e6e6;
}
body .container .fq-nav2 .nav2-power ul li:hover b {
  display: block;
}
body .container .fq-nav2 .nav2-power ul .sel i {
  background: url("../images/qx_icon_15-ffff2c3.png") 0 0 no-repeat;
}
body .container .fq-nav2 .nav2-power .sel span {
  color: #1a8ff0;
}
body .container .fq-nav2 .nav2-power p {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  margin-bottom: 0;
  border-bottom: 1px solid #e6e6e6;
}
body .container .fq-nav2 .nav2-power p span {
  margin-left: 14px;
  color: #333;
  position: relative;
  top: 3px;
}
body .container .fq-nav2 .nav2-power #roles {
  display: none;
}
body .container .fq-nav2 .fq-nav2-bottom {
  height: 140px;
  display: none;
}
body .container .fq-nav2 .fq-nav2-bottom .fq-btn-size-30 {
  margin-left: 10px;
  margin-top: 20px;
}
body .container .fq-nav2 .fq-nav2-bottom .btn-roleadd {
  display: none;
}
body .container .fq-contain .fq-contain-src {
  background: #fff;
  border: 10px solid #f5f5f5;
  overflow: auto;
  max-height: 100%;
}
body .container .fq-contain .fq-contain-src .fq-contain-dv {
  display: none;
  padding: 20px 30px!important;
}
body .container .fq-contain .fq-contain-src .power-desk {
  margin-top: 20px;
  padding-top: 30px;
  border-top: 1px solid #e6e6e6;
}
body .container .fq-contain .fq-contain-src .power-desk .desk-left {
  width: 108px;
  height: 16px;
  display: inline-block;
  float: left;
  font-weight: bold;
}
body .container .fq-contain .fq-contain-src .power-desk .desk-left .propertyt {
  display: inline-block;
  width: 16px;
  height: 19px;
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
  background: url("../images/yg_icon_14-4318aa0.png") 0 0 no-repeat;
}
body .container .fq-contain .fq-contain-src .power-desk .desk-left span {
  vertical-align: middle;
}
body .container .fq-contain .fq-contain-src .power-desk .desk-left i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
  color: #cae3ff;
  font-weight: 100;
}
body .container .fq-contain .fq-contain-src .power-desk .desk-right {
  float: left;
  margin-left: 15px;
  margin-bottom: 15px;
  width: 80%;
}
body .container .fq-contain .fq-contain-src .power-desk .desk-right .power-right-bill {
  width: 100%;
}
body .container .fq-contain .fq-contain-src .power-desk .desk-right #menu-content {
  width: 60%;
  margin-left: -40px !important;
}
body .container .fq-contain .fq-contain-src .power-desk .desk-right #menu-content ul li {
  margin-bottom: 6px;
}
body .container .fq-contain .fq-contain-src .power-desk .desk-right .uncollectedBill {
  float: left;
  font-size: 14px;
  color: #999;
}
body .container .fq-contain .fq-contain-src .power-desk .desk-right ul {
  display: inline-block;
}
body .container .fq-contain .fq-contain-src .power-desk .desk-right ul li {
  float: left;
  margin-left: 50px;
  margin-right: -8px;
  position: relative;
}
body .container .fq-contain .fq-contain-src .power-desk .desk-right ul li span {
  margin-left: 10px;
  font-size: 14px;
}
body .container .fq-contain .fq-contain-src .power-desk .desk-right ul li i {
  display: inline-block;
  display: none;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  position: absolute;
  top: 3px;
  left: -10px;
  background: url("../images/icon_02-b414079.png") 0 0 no-repeat;
}
body .container .fq-contain .fq-contain-src .power-desk .desk-right ul li .zd-blue {
  font-size: 14px;
  color: #1697fd;
}
body .container .fq-contain .fq-contain-src .power-desk .desk-right ul li .zd-blue b {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  position: absolute;
  top: 7px;
  left: -8px;
  background: url("../images/qx_icon_07-fb5072b.png") 0 0 no-repeat;
}
body .container .fq-contain .fq-contain-src .power-desk .desk-right li {
  color: #666;
}
body .container .fq-contain .fq-contain-src .power-desk .zd-blue {
  color: #1697fd;
}
body .container .fq-contain .fq-contain-src .power-desk .menu {
  display: inline-block;
  width: 16px;
  height: 15px;
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
  background: url("../images/qx_menu-ee8528e.png") 0 0 no-repeat;
}
body .container .fq-contain .contain-power-top {
  display: none;
  width: 100%;
}
body .container .fq-contain .contain-power-top .power-top-sec {
  height: 50px;
  line-height: 50px;
  background-color: #fff;
}
body .container .fq-contain .contain-power-top .power-top-sec .power-top-sec-right {
  float: right;
}
body .container .fq-contain .contain-power-top .power-top-sec .power-top-sec-right p {
  width: 80px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #c8e4ff;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  background-color: #417de6 ;
  color: #fff;
  font-size: 14px;
}
body .container .fq-contain .contain-power-top .power-top-sec .power-top-sec-right p:hover {
  background-color: #1c68ed;
}
body .container .fq-contain .contain-power-top .power-top-sec .power-top-sec-right p i {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
  top: -3px;
  background: url("../images/yg_photo_20-dc70ab7.png") 0 0 no-repeat;
}
body .container .fq-contain .contain-power-top .power-top-sec .power-top-sec-right .power-edit-ul {
  display: none;
}
body .container .fq-contain .contain-power-top .power-top-sec .power-top-sec-right .power-edit-ul li {
  display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  color: #c8e4ff;
  border-radius: 4px;
  border: 1px solid #8795ad;
  margin-left: 16px;
  cursor: pointer;
  color: #8795ad;
}
body .container .fq-contain .contain-power-top .power-top-sec .power-top-sec-right .power-edit-ul .hov {
  color: #FFFFFF;
  background-color: #417de6;
  border: 0;
}
body .container .fq-contain .contain-power-top .power-top-sec .power-top-sec-right .power-edit-ul .hov:hover {
  background-color: #1c68ed;
}
body .alert-modal-wraper #roleName_Add ul {
  overflow: hidden;
  height: 200px !important;
}
body .alert-modal-wraper .role-dv-row {
  top: 50px;
}
body .alert-modal-wraper .top-modal-bottom > span {
  background-color: #fff;
  border: 1px solid #8795ad;
  border-radius: 4px;
  color: #666;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin-top: 8px;
  text-align: center;
  width: 60px;
  float: left;
  display: none;
}
