@import "variable";

.main {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  padding-top: 49px;
}

.employee {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
  > .pull-left {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 214px;
    height: 100%;
    padding-bottom: 77px;
    background-color: #ffffff;
    -webkit-transform: translateX(-214px);
    -moz-transform: translateX(-214px);
    -ms-transform: translateX(-214px);
    -o-transform: translateX(-214px);
    transform: translateX(-214px);
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    &.show {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
      transform: translateX(0px);
      -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    }
    .left-content {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      padding-bottom: 77px;
    }
    .left-body {
      height: 100%;
      padding: 15px;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      .tree-container {
        margin-top: 15px;
      }
    }
    .left-footer {
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 100%;
      padding: 20px 0px;
      font-size: 0px;
      text-align: center;
      background-color: #ffffff;
      border-top: 1px solid #e6e6e6;
      button {
        height: 36px;
        cursor: pointer;
        color: #ffffff;
        font-size: 14px;
        text-align: center;
        background-color: #417de6;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        &.btn-edit {
          margin-left: 10px;
        }
      }
    }
  }
  > .pull-right {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    .right-container {
      height: 100%;
      overflow-y: auto;
      position: relative;
      -webkit-overflow-scrolling: touch;
      .right-header {
        position: fixed;
        left: 0px;
        top: 50px;
        width: 100%;
        z-index: 1;
        padding: 15px;
        display: block !important;
        background-color: #ffffff;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, .15);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, .15);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, .15);
        &.hide {
          -webkit-transform: translateY(-244px);
          -moz-transform: translateY(-244px);
          -ms-transform: translateY(-244px);
          -o-transform: translateY(-244px);
          transform: translateY(-244px);
          -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, .0);
          -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, .0);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, .0);
        }
        .form-group:last-child {
          margin-bottom: 0px;
          font-size: 0px;
          text-align: right;
          .btn.add {
            margin-left: 10px;
          }
        }
        .form-input {
          width: 100%;
          font-size: 14px;
          line-height: 20px;
          padding: 5px 15px;
        }
      }
      .right-content {
        padding: 5px;
        min-height: 100%;
        background-color: #ffffff;
      }
      .table-body {
        margin: 0px;
        font-size: 14px;
        line-height: 34px;
        text-align: center;
        padding-bottom: 56px;
      }
      .row-content {
        margin: 0px;
        border-right: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
      }
      .table-item {
        margin: 0px;
        padding: 5px;
      }
      .row-header {
        padding: 0px;
        min-height: 0px;
      }
      .row-title {
        margin: 0px;
        color: #333333;
        background-color: #f5f5f5;
      }
      .row-body {
        padding: 0px;
      }
      .row-item {
        margin: 0px;
      }
      .column {
        padding: 0px;
        border-top: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
      }
      .right-footer {
        position: fixed;
        width: 100%;
        bottom: 0px;
        left: 0px;
        font-size: 0px;
        text-align: center;
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }
}

.panel {
  .panel-group {
    padding: 0px 15px;
    margin-bottom: 0px;
    line-height: 40px;
    .column-label {
      padding: 0px;
      text-align: right;
    }
    .column-value {
      padding: 0px 0px 0px 30px;
      .btn.btn-password {
        margin-top: -2px;
        margin-left: 50px;
        //padding: 4px 11px;
        color:#fff;
      }
    }
  }
  #InDate_EmpAdd, #InDate_EmpEdit {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .employee {
    .pull-left {
      visibility: visible;
      border-right: 1px solid #e6e6e6;
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
      transform: translateX(0px);
      -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
    .pull-right {
      padding-left: 214px !important;
    }
    .right-container {
      padding: 10px !important;
    }
    .right-footer {
      padding-left: 214px !important;
    }
  }

  .column-label {
    padding-right: 40px !important;
  }

  .column-value {
    padding: 0px 15px !important;
  }

  .table-body {
    padding-bottom: 46px !important;
  }
}

@media screen and (min-width: 992px) {
  .employee {
    .right-content {
      position: relative;
      padding: 15px !important;
    }
    .right-header {
      top: 0px !important;
      font-size: 0px !important;
      position: relative !important;
      margin-bottom: 15px !important;
      border-bottom: 1px solid #e6e6e6;
      padding: 0px 0px 15px 0px !important;
      -webkit-transform: translateY(0px) !important;
      -moz-transform: translateY(0px) !important;
      -ms-transform: translateY(0px) !important;
      -o-transform: translateY(0px) !important;
      transform: translateY(0px) !important;
      -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, .0) !important;
      -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, .0) !important;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, .0) !important;
    }
    .table-item {
      padding: 0px !important;
      &:last-child {
        border-bottom: 1px solid #e6e6e6 !important;
      }
    }
    .row-content {
      border-bottom: none !important;
    }
    .form-group {
      position: relative;
      z-index: 1;
      margin: 4px 15px 0px 0px;
      display: inline-block !important;
      &:last-child {
        float: none;
        width: 100%;
        left: 0px;
        z-index: 0;
        margin: 0px;
        position: absolute;
        padding-left: 560px;
        .btn.search {
          float: left;
        }
      }
    }
    .pull-right {
      .drop-container {
        width: 100px;
      }
    }
  }

  .right-footer {
    position: absolute !important;
    right: 0px !important;
    bottom: 0px !important;
    padding: 0px !important;
  }
}


