@import "variable";

@media screen and (max-width: 1367px) {
  .container {
    padding-left: 0px;
  }
}

body {
  .container {
    padding-left: 0px;
    .fq-nav2 {
      .property-nav2-top {
        #Buildings {
          overflow-y: auto;
          height: 100%;
          display: none;
        }
        .property-list {
          height: 36px;
          line-height: 36px;
          border-bottom: 1px solid #e6e6e6;
          span {
            margin-left: 35px;
            color: #333;
            font-size: 16px;
          }
        }
        .lists {
          height: 100%;
          padding-bottom: 176px;
        }
        height: 100%;
      }
      .fq-nav2-bottom {
        .btn-propertyadd {
          display: none;
          button {
            height: 36px;
          }
        }
      }
    }
    .fq-contain-dv {
      display: none;
      #Rooms {
        .property-room-status {
          cursor: pointer;
        }
        .property-room-status1 {
          cursor: pointer;
        }
      }
      .floorword {
        color: @content !important;
        font-size: 12px !important;
      }
    }
  }
  .alert-modal-wraper {
    .hsitory-contractadd {
      width: 120px;
      height: 36px;
      line-height: 36px;
      margin: 20px 35px !important;
    }
    #btn-order {
      display: none;
    }
    .right-modal {
      .property-detail {
        .property-modal-content {
          .property-contract-content {
            height: 100% !important;
            .history-modaldv-tabelwrap {
              margin-left: 25px;
              .table-history {
                tr {
                  th {
                    &:first-of-type {
                      text-align: center !important;
                    }
                  }
                  td {
                    &:first-of-type {
                      text-align: center !important;
                    }
                  }
                  td {
                    &:nth-of-type(2) {
                      text-align: center !important;
                      padding-left: 0px !important;
                    }
                  }
                }

              }
            }
            .history-fy-wrap {
              bottom: 90px !important;
            }
            .history-button {
              border-top: 1px solid @borderColor;
              margin-top: 40px;
            }
          }
          height: 100%;
        }
      }
    }
    .building_delete {
      display: none;
    }
    .but-roomEdit {
      display: none;
    }
    .btn-roomdel {
      display: none;
    }
    .serviceInit {
      display: none;
    }
    //抄表记录的隐藏
    .readInit {
      display: none;
    }
    .btn-repairadd {
      display: none;
    }
    //抄表记录新增的隐藏
    .btn-checktableadd {
      display: none;
    }
    .property-checktable-content {
      table {
        tr {
          td {
            &:nth-of-type(2) {
              text-align: center !important;
            }
          }
        }
      }
    }
  }
  .historyLook {
    cursor: pointer;
  }
}

.btn-propertydetail {
  line-height: 36px;
}

@import "variable";

.main {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  padding-top: 49px;
}

.property {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
  > .pull-left {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 214px;
    height: 100%;
    padding: 40px 0px 77px;
    background-color: @white;
    -webkit-transform: translateX(-214px);
    -moz-transform: translateX(-214px);
    -ms-transform: translateX(-214px);
    -o-transform: translateX(-214px);
    transform: translateX(-214px);
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    &.show {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
      transform: translateX(0px);
      -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    }
    .left-header {
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
    }
    .left-body {
      height: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      border-top: 1px solid @borderColor;
      #Buildings {
        line-height: 36px;
        li {
          cursor: pointer;
          position: relative;
          a {
            display: block;
            color: @assist;
            font-size: 14px;
            padding-left: 50px;
          }
          i {
            position: absolute;
            top: 0px;
            right: 5px;
            width: 36px;
            height: 100%;
            z-index: 100;
            display: none;
            font-size: 16px;
            line-height: 36px;
            text-align: center;
          }
          &.active {
            color: @blue;
            background-color: #e1ecf3;
            a {
              color: @blue;
            }
          }
          &:hover {
            color: @blue;
            background-color: #e1ecf3;
            a {
              color: @blue;
            }
            i {
              display: block;
            }
          }
        }
      }
    }
    .left-footer {
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 100%;
      padding: 20px 8px;
      font-size: 0px;
      text-align: center;
      background-color: @white;
      border-top: 1px solid @borderColor;
    }
    .tab-bar {
      li {
        height: 36px;
        padding-left: 50px;
        line-height: 36px;
        opacity: 1;
        font-size: 14px;
        cursor: pointer;
        &:hover {
          color: #1892f5;
          background-color: #EEF6EF;
        }
      }
    }
    .active {
      color: #1892f5;
      background-color: #EEF6EF;
    }
  }
  > .pull-right {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    .right-container {
      height: 100%;
      overflow-y: auto;
      position: relative;
      -webkit-overflow-scrolling: touch;
      .right-header {
        position: fixed;
        left: 0px;
        top: 50px;
        width: 100%;
        z-index: 1;
        padding: 15px;
        display: block !important;
        background-color: #ffffff;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, .15);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, .15);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, .15);
        &.hide {
          -webkit-transform: translateY(-244px);
          -moz-transform: translateY(-244px);
          -ms-transform: translateY(-244px);
          -o-transform: translateY(-244px);
          transform: translateY(-244px);
          -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, .0);
          -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, .0);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, .0);
        }
        .form-group:last-child {
          margin-bottom: 0px;
          font-size: 0px;
          text-align: right;
          .btn.add {
            height: 30px;
            border: none;
            padding: 0px 10px;
            line-height: 30px;
          }
        }
        .form-input {
          width: 100%;
          font-size: 14px;
          line-height: 20px;
          padding: 5px 15px;
        }
      }
      .right-content {
        height: 100%;
        min-height: 100%;
        position: relative;
        background-color: @white;
        padding: 0px 0px 0px 60px !important;
        > .pull-left {
          width: 60px;
          height: 100%;
          overflow-y: auto;
          position: absolute;
          left: 0px;
          top: 0px;
          -webkit-overflow-scrolling: touch;
          border-right: 1px solid @borderColor;
          .floor-header {
            .floor-title {
              margin: 0px;
              font-size: 12px;
              line-height: 30px;
              text-align: center;
            }
          }
          .floor-body {
            #floors {
              font-size: 12px;
              line-height: 30px;
              text-align: center;
              .floor {
                cursor: pointer;
                &:hover {
                  background-color: #e1ecf3;
                }
              }
            }
          }
          .floor-footer {
            .btn.add {
              width: 100%;
              padding: 0px;
              display: block;
              min-width: 0px;
              color: @blue;
              font-size: 20px;
              line-height: 30px;
            }
          }
        }
        > .pull-right {
          width: 100%;
          height: 100%;
          position: relative;
          padding: 100px 0px 0px !important;
          .room-header {
            width: 100%;
            height: 100px;
            overflow: hidden;
            position: absolute;
            top: 0px;
            left: 0px;
            border-bottom: 1px solid @borderColor;
            #RoomState {
              padding: 5px 0px;
              line-height: 30px;
              text-align: center;
              .col-xs-3 {
                cursor: pointer;
                position: relative;
                color: @weaken;
                font-size: 0px;
                line-height: 10px;
                padding: 0px !important;
                border-right: 1px solid @borderColor;
                .state-item {
                  position: relative;
                  font-size: 14px;
                  line-height: 20px;
                  display: inline-block;
                }
                .state-num {
                  position: absolute;
                  top: -8px;
                  left: 35px;
                  font-size: 12px;
                  line-height: 20px;
                  font-style: normal;
                }
                .state-icon {
                  display: block;
                  width: 8px;
                  height: 8px;
                  padding: 1px;
                  position: absolute;
                  top: 50%;
                  left: -20px;
                  margin-top: -4px;
                  border: 1px solid @borderColor;
                  -webkit-border-radius: 100%;
                  -moz-border-radius: 100%;
                  border-radius: 100%;
                  &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: @borderColor;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    border-radius: 100%;
                  }
                }
                &:last-child {
                  border: none;
                }
                &.active {
                  .state-item {
                    color: @black;
                  }
                }
                &:nth-child(1) {
                  .state-num {
                    color: @green;
                  }
                  .state-icon {
                    border-color: @green;
                    &:before {
                      background-color: @green;
                    }
                  }
                }
                &:nth-child(2) {
                  .state-num {
                    color: @yellow;
                  }
                  .state-icon {
                    border-color: @yellow;
                    &:before {
                      background-color: @yellow;
                    }
                  }
                }
                &:nth-child(3) {
                  .state-num {
                    color: @blue;
                  }
                  .state-icon {
                    border-color: @blue;
                    &:before {
                      background-color: @blue;
                    }
                  }
                }
                &:nth-child(4) {
                  .state-num {
                    color: @weaken;
                  }
                  .state-icon {
                    border-color: @weaken;
                    &:before {
                      background-color: @weaken;
                    }
                  }
                }
              }
            }
            .form-group {
              position: relative;
              margin: 10px 0px 0px 0px !important;
            }
            .form-label {
              width: 30px;
              height: 30px;
              position: absolute;
              top: 0px;
              right: 0px;
              margin: 0px;
            }
            .form-input {
              width: 100%;
              padding: 0px 30px 0px 15px;
            }
          }
          .room-body {
            height: 100%;
            overflow-y: auto;
            padding: 25px 0px 50px;
            -webkit-overflow-scrolling: touch;
            .house-header {
              font-size: 0px;
              padding-left: 15px;
            }
            .house-title {
              margin: 0px;
              display: inline;
              color: @content;
              font-size: 14px;
            }
            .house-edit {
              color: @blue;
              font-size: 12px;
              margin-left: 20px;
            }
            .house-row {
              margin: 0px;
              padding: 15px 0px;
            }
            .house-item {
              padding: 10px 15px;
              .house-number {
                color: @content;
                font-size: 14px;
                line-height: 20px;
                margin: 0px 0px 5px 0px;
              }
              .house-block {
                cursor: pointer;
                font-size: 12px;
                line-height: 28px;
                position: relative;
                &:before {
                  content: '';
                  position: absolute;
                  top: 0px;
                  left: 0px;
                  height: 100%;
                  border-left: 6px solid @weaken;
                }
                span {
                  display: block;
                  padding-left: 20px;
                  border: 1px solid @borderColor;
                }
              }
              .house-add {
                cursor: pointer;
                font-size: 12px;
                line-height: 28px;
                position: relative;
                span {
                  display: block;
                  color: @weaken;
                  font-size: 20px;
                  text-align: center;
                  border: 1px solid @borderColor;
                }
              }
              &.state1 {
                .house-block {
                  &:before {
                    border-color: @weaken;
                  }
                }
              }
              &.state2 {
                .house-block {
                  &:before {
                    border-color: @yellow;
                  }
                }
              }
              &.state3 {
                .house-block {
                  &:before {
                    border-color: @blue;
                  }
                }
              }
              &.state4 {
                .house-block {
                  &:before {
                    border-color: @green;
                  }
                }
              }
            }
            .house-footer {
              padding: 0px 0px 25px 15px;
              &:before {
                content: '';
                display: block;
                border-bottom: 1px dashed @borderColor;
              }
            }
          }
          .room-footer {

          }
        }
      }
      .right-footer {
        position: fixed;
        width: 100%;
        bottom: 0px;
        left: 0px;
        font-size: 0px;
        text-align: center;
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }
}

.panel {
  .search {
    margin-top: 5px;
    height: 30px;
    line-height: 18px;
  }
  .panel-detail {
    .btn-bind {
      color: @white !important;
    }
    .btn-unbind {
      background-color: @white !important;
      border: 1px solid #666666;
    }
    .dynamic-psd {
      background-color: @white !important;
      border: 1px solid #666666;
    }
    .psd-add {
      color: @white !important;
    }
  }
  .panel-group {
    padding: 20px 15px;
    margin-bottom: 0px;
    line-height: 40px;
    .column-label {
      padding: 0px;
      width: 20%;
      text-align: right;
    }
    .column-value {
      padding: 0px 0px 0px 30px;
      .btn.btn-password {
        margin-top: -2px;
        margin-left: 50px;
        padding: 4px 11px;
      }
    }
    h4 {
      font-size: 16px;
      padding-top: 20px !important;
      padding-bottom: 20px !important;
    }
    .search {
      float: right;
      margin-right: 15px;
    }
  }
  #InDate_EmpAdd, #InDate_EmpEdit {
    margin-bottom: 10px;
  }
  .panel-password.panel-footer {
    .btn {
      width: auto !important;
      padding: 0px 10px !important;
    }
  }
}

.table-body {
  margin: 0px;
  font-size: 14px;
  line-height: 34px;
  text-align: center;
}

.row-content {
  margin: 0px;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.table-item {
  margin: 0px;
  padding: 5px;
  .column-header {
    position: relative;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid @borderColor;
    .column-title {
      margin: 0px;
      font-size: 14px;
      line-height: 30px;
    }
    .column-icon {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 30px;
      height: 30px;
      color: #666666;
      font-size: 16px;
      font-weight: bold;
      line-height: 28px;
      text-align: center;
      background-color: @white;
      border: 1px solid @borderColor;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      transition: all 300ms ease-out;
      &:hover {
        color: @white;
        border-color: @yellow;
        background-color: @yellow;
      }
    }
  }
  .column-body {
    color: #999999;
    font-size: 12px;
    text-align: left;
    line-height: 20px;
    padding-top: 20px;
  }
}

.row-header {
  padding: 0px;
  min-height: 0px;
}

.row-title {
  margin: 0px;
  color: #333333;
  background-color: #f5f5f5;
}

.row-body {
  padding: 0px;
}

.row-item {
  margin: 0px;
}

.column {
  padding: 0px;
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}

.panel {
  &.panel-lg {
    .panel-content {
      .panel-body {
        height: 100%;
        overflow: hidden;
        padding: 0px !important;
      }
      .panel-modal {
        padding-bottom: 0px !important;
        .panel-footer {
          display: none !important;
        }
        .table-column {
          height: 200px;
          padding: 10px;
          background-color: #f7f7f7;
          -webkit-transition: all 300ms ease-out;
          -moz-transition: all 300ms ease-out;
          -ms-transition: all 300ms ease-out;
          -o-transition: all 300ms ease-out;
          transition: all 300ms ease-out;
          -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
        }
        &:nth-child(2) {
          .tab-block {
            padding-top: 0px;
          }
        }
      }
    }
  }
  .column {
    height: 50px;
    font-size: 12px;
    line-height: normal;
    &:before {
      content: '';
      width: 0px;
      height: 100%;
      visibility: hidden;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .pagination {
    width: 100%;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 50px;
  }
  .tab-block {
    height: 100%;
    padding-top: 61px;
    position: relative;
    .tab-header {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 10;
      background-color: @white;
    }
    .tab-body {
      height: 100%;
      .block-content {
        height: 100%;
        position: relative;
        padding-bottom: 50px;
      }
      .block-header {

      }
      .block-body {
        height: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        .table-header {
          margin: 0px;
          padding: 10px 10px 0px;
        }
        .table-body {
          padding: 5px;
          padding-bottom: 61px;
        }
      }
      .block-footer {
        position: absolute;
        left: 0px;
        bottom: 0px;
        z-index: 1;
        width: 100%;
        height: 50px;
        font-size: 0px;
        text-align: right;
        line-height: 50px;
        padding: 0px 35px;
        background-color: #ffffff;
        border-top: 1px solid #e6e6e6;
        z-index: 10;
      }
    }
    .tab-footer {

    }
  }
  .table-block {
    position: relative;
    &:last-child {
      border: none;
    }
    .table-footer {
      position: relative;
    }
    .pagination {
      bottom: 0px !important;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}

.group-header {
  position: relative;
  .add-contract {
    position: absolute;
    right: 0px;
    top: 50%;
    cursor: pointer;
    margin-top: -10px;
    line-height: 20px;
  }
}

.group-title {
  margin: 0px;
  font-size: 16px;
  line-height: 45px;
  padding: 0px 15px;
  &.row {
    padding: 0px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.group-row {
  margin: 0px;
  line-height: 45px;
  .group-label {
    margin: 0px;
    display: block;
    text-align: right;
  }
}

.form-group {
  position: relative;
  .form-span {
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    width: 100%;
    line-height: 20px;
    padding-left: 100px;
  }
  .form-unit {
    width: auto;
    height: 30px;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 0px 10px;
    line-height: 30px;
    text-align: center;
    margin: 0px !important;
  }
}

@media screen and (min-width: 768px) {
  .property {
    .pull-left {
      visibility: visible;
      border-right: 1px solid #e6e6e6;
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
      transform: translateX(0px);
      -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
  }

  .property > .pull-right {
    padding-left: 214px !important;
  }

  .right-container {
    padding: 10px !important;
  }

  .right-footer {
    padding-left: 214px !important;
  }

  .column-label {
    padding-right: 40px !important;
  }

  .column-value {
    padding: 0px 15px !important;
  }

  .table-item {
    .tab-content {
      margin: 20px auto;
      text-align: center;
      border-top: 1px solid #e6e6e6;
      border-left: 1px solid #e6e6e6;
      .row-header {
        background-color: #f5f5f5;
      }
      .column {
        border-bottom: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
      }

    }
  }

  .block-body {
    padding: 15px !important;
  }

  .panel-modal {
    &:nth-child(2) {
      .block-content {
        &:nth-child(2) {
          .block-body {
            padding: 8px !important;
            .table-item {
              padding: 8px !important;
              border: none !important;
            }
          }
          .table-body {
            padding: 0px !important;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .right-content {
    position: relative;
    padding: 15px !important;
  }

  .right-header {
    top: 0px !important;
    font-size: 0px !important;
    position: relative !important;
    margin-bottom: 15px !important;
    border-bottom: 1px solid #e6e6e6;
    padding: 0px 0px 15px 0px !important;
    -webkit-transform: translateY(0px) !important;
    -moz-transform: translateY(0px) !important;
    -ms-transform: translateY(0px) !important;
    -o-transform: translateY(0px) !important;
    transform: translateY(0px) !important;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, .0) !important;
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, .0) !important;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .0) !important;
  }

  .table-item {
    padding: 0px !important;
    &:last-child {
      border-bottom: 1px solid #e6e6e6 !important;
    }
  }

  .row-content {
    border-bottom: none !important;
  }

  .pull-right {
    .drop-container {
      width: 100px;
    }
  }

  .right-footer {
    position: absolute !important;
    right: 0px !important;
    bottom: 0px !important;
    padding: 0px !important;
  }

  .table-header {
    padding: 10px 5px 10px !important;
    .table-item {
      border: none !important;
      padding-right: 15px !important;
    }
  }

  .form-group {
    &.limit {
      padding-left: 70px;
      .form-label {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 70px;
        line-height: 30px;
        margin: 0px !important;
      }
      .btn {
        margin: 0px !important;
      }
    }
  }

  .room-header {
    height: 50px !important;
    padding-right: 15px !important;
    > .col-md-5 {
      .form-group {
        float: right;
        max-width: 220px;
      }
    }
  }

  .house-row {
    padding: 15px !important;
  }

  .house-header {
    padding-left: 30px !important;
  }

  .house-footer {
    padding-left: 30px !important;
  }

  .property {
    > .pull-right {
      .right-container {
        .right-content {
          > .pull-right {
            padding: 50px 0px 0px 0px !important;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1500px) {

}