@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1487663846808');
    src: url('iconfont.eot?t=1487663846808#iefix') format('embedded-opentype'),
    url('iconfont.woff?t=1487663846808') format('woff'),
    url('iconfont.ttf?t=1487663846808') format('truetype'),
    url('iconfont.svg?t=1487663846808#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-rili:before {
    content: "\343a";
}

.icon-yuan:before {
    content: "\e611";
}

.icon-tuichu:before {
    content: "\f0071";
}

.icon-bianji:before {
    content: "\e62f";
}

.icon-tianjia:before {
    content: "\e627";
}

.icon-suo:before {
    content: "\e6ae";
}

.icon-Set_up:before {
    content: "\e660";
}

.icon-circle:before {
    content: "\e69d";
}

.icon-xiala:before {
    content: "\e635";
}

.icon-iconfont55:before {
    content: "\e760";
}

.icon-duigou:before {
    content: "\e606";
}

.icon-bianji1:before {
    content: "\e612";
}

.icon-gouxuankuangyigou01:before {
    content: "\e615";
}

.icon-people:before {
    content: "\e6ce";
}

.icon-cuowu:before {
    content: "\e628";
}

.icon-xiaoxi:before {
    content: "\e6b6";
}

.icon-zhankai:before {
    content: "\e629";
}

.icon-yuan1:before {
    content: "\e75c";
}

.icon-iconfontsanjiao01:before {
    content: "\e766";
}

.icon-icon12:before {
    content: "\e636";
}

.icon-zuofanye:before {
    content: "\e62a";
}

.icon-zuofanye-copy-copy:before {
    content: "\e62b";
}

.icon-fangxinggouxuankuangkong:before {
    content: "\e72d";
}

.icon-mokuaiguanli:before {
    content: "\e64d";
}

.icon-quanxianguanli:before {
    content: "\e646";
}

.icon-person-setting:before {
    content: "\e64f";
}

.icon-xiangqingyedatuzuofanye:before {
    content: "\e700";
}

.icon-xiangqingyedatuyoufanye:before {
    content: "\e702";
}

.icon-5shoujirenzheng:before {
    content: "\e64c";
}

.icon-shangsanjiaoxing-copy:before {
    content: "\e608";
}

.icon-customerCreate:before {
    content: "\e607";
}

.icon-yuandianxuanzekuang:before {
    content: "\e74a";
}

.icon-touxiang:before {
    content: "\e616";
}

.icon-zhiwu:before {
    content: "\e63c";
}

/*.icon-Shapex:before { content: "\e602"; }*/

.icon-xinzeng:before {
    content: "\e62e";
}

.icon-sousuo_sousuo:before {
    content: "\e64e";
}

.icon-weirenzheng:before {
    content: "\e6c9";
}

.icon-zuzhi:before {
    content: "\e6ca";
}

.icon-guanliyuan:before {
    content: "\e73f";
}

.icon-kongxin-youfanye-:before {
    content: "\e684";
}

.icon-kongxin-zuofanye-:before {
    content: "\e68b";
}

/*�˵�*/
.icon-Desktop:before {
    content: "\e668";
}

.icon-Building:before {
    content: "\e6a3";
}

.icon-Customer:before {
    content: "\e642";
}

.icon-Contract:before {
    content: "\e63b";
}

.icon-Bill:before {
    content: "\e652";
}

.icon-Data:before {
    content: "\e66f";
}

.icon-Role:before {
    content: "\e610";
}

.icon-Employee:before {
    content: "\e698";
}

.icon-Param:before {
    content: "\343e";
}

.icon-Log:before {
    content: "\e663";
}
.icon-Statistic:before {
    content: "\e66f";
}
/*自定义图标*/
.icon-DesktopModule:before {
    content: "\e668";
}

.icon-BuildingModule:before {
    content: "\e6a3";
}

.icon-CustomerModule:before {
    content: "\e642";
}

.icon-ContractModule:before {
    content: "\e63b";
}

.icon-BillModule:before {
    content: "\e652";
}

.icon-DataModule:before {
    content: "\e66f";
}

.icon-RoleModule:before {
    content: "\e610";
}

.icon-EmployeeModule:before {
    content: "\e698";
}

.icon-SystemModule:before {
    content: "\343e";
}

.icon-LogModule:before {
    content: "\e663";
}
.icon-StatisticModule:before {
    content: "\e66f";
}
.icon-ParamModule:before {
    content: "\343e";
}

.icon-prev:before {
    content: "\e700";
}

.icon-next:before {
    content: "\e702";
}