
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1487034256151'); /* IE9*/
  src: url('iconfont.eot?t=1487034256151#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1487034256151') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1487034256151') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1487034256151#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before { content: "\343e"; }

.icon-gongzuotai:before { content: "\e668"; }

.icon-tongji:before { content: "\e66f"; }

.icon-yuangongguanli:before { content: "\e698"; }

.icon-hetong:before { content: "\e63b"; }

.icon-quanxianguanli:before { content: "\e646"; }

.icon-kehu:before { content: "\e642"; }

.icon-jichuwuye:before { content: "\e6a3"; }

.icon-wsmp-bill:before { content: "\e652"; }

.icon-rizhi:before { content: "\e663"; }

